* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(213, 225, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 380px;
  width: 250px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}
.image {
  border-radius: 18px;
  height: 230px;
  width: 230px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/image-qr-code.png);
  background-position: center;
  background-size: cover;
}
.heading {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.note {
  text-align: center;
  font-size: 14px;
  color: rgb(178, 197, 181);
  margin-top: 8px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
}

/* media queries */
@media (min-width: 300px) and (max-width: 630px) {
  .wrapper {
    scale: 1.1;
  }
}
